<% @order_items.each do |item| %>
<ul>
  <li>
    <%= item.product.name %>
  </li>
  <li>
    <%= item.quantity %>
  </li>
  <li>
    <%= link_to "Delete", destroy_item_path(:id => item.id),
    data: { confirm: "Are you sure you want to delete this item?" },
    method: :delete, class: "alert button"
%>

  </li>
</ul>
<% end %>
