<h1>Categories</h1>
<ul>
<% @categories.each do |category| %>
  <h4>Name: <%= category.name %></h4>
  <ul>
    <li><%= link_to "Products", category_products_path(category.id) %></li>
  </ul>
<% end %>
</ul>
