<main class="row">

<h1>Categories</h1>
<ul>
<% @categories.each do |category| %>
  <h3><%= category.name %></h3>
  <ul>
    <li><%= link_to "See all #{category.name} products", category_products_path(category.id) %></li>
  </ul>
<% end %>
</ul>
</main>
